/* #c0d2db */
/* #6bd6df */
.bs {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.shadow {
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.4);
}
.wrappingheaders .box_header,
.wrappingheaders .box_subheader {
  width: 101%;
  -webkit-transform: skewX(0deg);
  -moz-transform: skewX(0deg);
  -ms-transform: skewX(0deg);
  transform: skewX(0deg);
  border-radius: 0px;
  left: 0px;
}
.wrappingheaders .box_header_text,
.wrappingheaders .box_subheader_text {
  height: auto;
  padding: 0px 10px;
  -webkit-transform: skewX(0deg);
  -moz-transform: skewX(0deg);
  -ms-transform: skewX(0deg);
  transform: skewX(0deg);
  word-wrap: break-word;
}
.wrappingheaders .box_header,
.wrappingheaders .box_header_text,
.wrappingheaders .box_subheader,
.wrappingheaders .box_subheader_text {
  overflow: hidden;
  text-overflow: clip;
  white-space: normal;
}
.wrappingheaders .box_header_container {
  width: 100%;
}
/* == CSS animation == */
.skew36 {
  -webkit-transform: skewX(-36deg);
  -moz-transform: skewX(-36deg);
  -ms-transform: skewX(-36deg);
  transform: skewX(-36deg);
}
.skewback36 {
  -webkit-transform: skewX(36deg);
  -moz-transform: skewX(36deg);
  -ms-transform: skewX(36deg);
  transform: skewX(36deg);
}
.skew0 {
  -webkit-transform: skewX(0deg);
  -moz-transform: skewX(0deg);
  -ms-transform: skewX(0deg);
  transform: skewX(0deg);
}
/*page sctructure*/

html,
body {
  height: 100%;
}
#right.RacenetPage {
  background-position: center top;
  background-attachment: local !important;
  background-size: 1200px auto;
}
#container {
  width: 100%;
  height: 100%;
}
#holder {
  height: 100%;
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.F1_2013 {
  background-position: 0 0;
  background-color: #7f847d;
}
/* define sections*/

#homeContent {
  height: 40%;
  clear: both;
}
#scores {
  width: 90%;
  height: 373px;
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
}
#car {
  width: 100%;
  height: 100%;
  position: relative;
  top: 317px;
  z-index: 2;
  margin: 2px auto;
}
#text {
  width: 90%;
  height: 100%;
  padding-bottom: 28px;
  position: absolute;
  top: 170px;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
}
#xp {
  margin-bottom: 20px;
  margin-top: 6px;
}
/*section styling*/

/*scores*/

.highlight {
  top: 5px;
  position: relative;
  height: 82px ;
  color: White;
  margin-top: 5%;
}
.highlight p {
  margin: 5 auto;
  text-align: center;
  font-size: 2.5em;
  line-height: 1em;
  top: 30px;
  position: relative;
}
.score img {
  height: 60%;
  width: 60% !important;
  padding-top: 6%;
}
.score p {
  top: 20px !important;
}
#scoresHolder h4 {
  text-transform: uppercase;
  padding: 5px 12px;
}
#scoresHolder {
  height: 100%;
  position: relative;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}
.score,
.scoreMobile {
  border-radius: 5px;
  float: left;
  margin: 1%;
  width: 28.5%;
  height: 62%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.score,
.scoreMobile,
#xp,
#homeHero {
  background: url('../../F1_2013/box_gradient.png') scroll no-repeat left top;
  border: 3px solid #a5b8be;
}
.titleBgWrapper {
  overflow: hidden;
  width: 100%;
}
.titleBg {
  width: 108%;
  transform: skewX(-36deg);
  -webkit-transform: skewX(-36deg);
  -ms-transform: skewX(-36deg);
  background: none repeat scroll 0 0 rgba(219, 228, 233, 0.9);
  border-radius: 6px;
  left: -15%;
  height: 45px;
  margin-top: 10px;
  position: relative;
}
.titleBg h4 {
  position: absolute;
  left: 15%;
  transform: skewX(36deg);
  -webkit-transform: skewX(36deg);
  -ms-transform: skewX(36deg);
  color: Black;
  font-family: 'Conduit_Bold';
  top: 10%;
}
#scoresMobile {
  height: 100%;
}
@media (min-width: 0px) and (max-width: 320px) {
  #scoresMobile {
    display: block;
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .scoreMobile {
    width: 100%;
    height: 100%;
  }
}
/*xpbar*/

#currentXpLevel p {
  line-height: 0.7em;
  transform: skew(46deg);
  -webkit-transform: skew(46deg);
  -ms-transform: skew(46deg);
  color: black;
  margin-left: 24%;
  font-family: 'Conduit_Bold';
  font-size: 1.2em;
}
#xpBar {
  background-color: #00546e;
  transform: skew(-46deg);
  -webkit-transform: skew(-46deg);
  -ms-transform: skew(-46deg);
  width: 67%;
}
#xpHolder {
  overflow: hidden;
}
#nextXpLevelBg {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1%;
  float: right;
  border-radius: 5px 0 0 5px;
  right: -4%;
  height: 55px;
  background: white;
  position: relative;
  width: 17%;
  transform: skew(-46deg);
}
#nextXpLevelBg p {
  text-transform: uppercase;
  line-height: 0.7em;
  transform: skew(46deg);
  -webkit-transform: skew(46deg);
  -ms-transform: skew(46deg);
  color: black;
  float: right;
  margin-right: 37%;
  padding-top: 11px;
  font-family: 'Conduit_Bold';
  font-size: 1.2em;
}
#xpAmount {
  background-color: white;
  width: 1%;
  padding: 0;
}
#xpBar,
#xpAmount,
#currentXpLevel,
#nextXpLevel {
  height: 55px;
}
#xp h3 {
  padding: 1%;
  font-family: 'Conduit_Bold';
}
#pointsRemaining {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 1% 0% 3% 0;
}
#nextUnlock {
  text-transform: uppercase;
  padding-right: 2%;
}
#currentHelmets {
  text-transform: uppercase;
  padding-left: 1.39%;
}
#currentXpLevel,
#nextXpLevelBg {
  transform: skew(-46deg);
  -webkit-transform: skew(-46deg);
  -ms-transform: skew(-46deg);
}
#currentXpLevel,
#xpBar,
#nextXpLevel {
  float: left;
}
#currentXpLevel {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1%;
  border-radius: 0px 5px 5px 0;
  left: -4%;
  width: 15%;
  height: 55px;
  background: white;
  position: relative;
  transform: skew(-46deg);
}
@media (min-width: 0px) and (max-width: 320px) {
  #currentXpLevel {
    left: -8%;
  }
}
/* f1 2013 follower news*/

#homeHero {
  overflow: hidden;
  margin-bottom: 66px;
}
#newsHeader {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1%;
  border-radius: 0px 10px 10px 0;
  left: -4%;
  width: 99%;
  height: 45px;
  background: none repeat scroll 0 0 rgba(219, 228, 233, 0.9);
  position: relative;
  transform: skew(-46deg);
  -webkit-transform: skew(-46deg);
  -ms-transform: skew(-46deg);
  margin-top: 10px;
}
#newsHeader h3 {
  transform: skew(46deg);
  -webkit-transform: skew(46deg);
  -ms-transform: skew(46deg);
  color: black;
  margin-left: 3%;
  padding: 3px 12px;
  font-family: 'Conduit_Bold';
}
#xpNewsHolder {
  background-color: #00546e;
  margin: 2%  0 2% 0;
  padding: 2%;
  width: 90%;
  min-height: 150px;
}
#xpNewsHolder .flex-control-nav {
  position: relative;
}
.xpNewsHeading {
  width: 50%;
  float: left;
  padding: 3% 0%;
}
/*#scoreIcon{width:10%; float:left; padding:1%; font-size:2.5em; color:white;}
#scoreIcon img {width:80px;}*/

.bigscore {
  font-size: 2.5em;
  color: white;
  float: left;
  width: 37%;
  padding: 2.5% 0%;
}
.news-container-section li {
  float: left;
  display: inline-block;
  height: 50px;
}
/*player news -- animated- white text- ----- div below f12013 news*/

#userNews {
  height: 50px;
  margin-bottom: 20px;
}
ul#tickerfull {
  height: 50px;
  overflow: hidden;
  width: 80%;
  margin-left: auto;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  text-transform: uppercase;
}
ul#tickerfull {
  width: 100%;
  margin-bottom: 20px;
}
#tickerfull li {
  height: 50px;
  color: white;
  font-size: 1em;
  text-align: center;
  word-wrap: break-word;
  font-size: 1.4em;
}
ul#ticker {
  width: 100%;
  height: 120px;
  position: relative;
  left: 15%;
  overflow: hidden;
}
ul#ticker li {
  list-style-type: none;
  display: inline-block;
  height: 150px;
  padding: 10px;
  text-transform: uppercase;
  word-wrap: break-word;
}
ul#ticker li a {
  color: #666666;
}
ul#ticker li span {
  display: block;
  color: #456852;
}
/* news ticker*/

#homeNews {
  margin-top: 20px;
}
.news-header {
  display: none;
}
.news-body {
  padding-left: 20px;
}
#news-container li {
  font-family: 'Conduit';
  -webkit-transform: skewX(36deg);
  -moz-transform: skewX(36deg);
  -ms-transform: skewX(36deg);
  transform: skewX(36deg);
}
#latestNews p {
  font-size: 0.8em;
  color: Black;
  text-transform: uppercase;
  font-family: 'Conduit_Bold';
  position: relative;
  left: 14%;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -ms-transform: skew(30deg);
  padding-top: 10px;
}
#homeNews {
  width: 100%;
}
#latestNews {
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  top: -9px;
  position: relative;
  color: Black;
  height: 39px;
  z-index: 2;
  background: white;
  width: 25%;
  left: -2%;
}
#news-container-list li {
  display: inline-block !important;
  overflow: hidden;
  padding-top: 1px;
}
#newsFeed {
  color: White;
  width: 95%;
  position: relative;
  z-index: 0;
  top: -48px;
  height: 36px;
  overflow: hidden;
  background: #00546e !important;
  -webkit-transform: skewX(-36deg);
  -moz-transform: skewX(-36deg);
  -ms-transform: skewX(-36deg);
  transform: skewX(-36deg);
}
.newsTickerTitle,
.newsTickerContent {
  float: left;
}
/*controls for slider*/

#xpNewsHolder .flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666666;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
#xpNewsHolder .flex-control-paging li a:hover {
  background: #333333;
  background: rgba(255, 255, 255, 0.7);
}
#xpNewsHolder .flex-control-paging li a.flex-active {
  background: black;
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
}
#scoresMobile .flex-control-paging li {
  display: none;
}
/*misc*/

/*fixes for inherited styles*/

#outer_content {
  padding-bottom: 0px !important;
}
#footer-surround {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
#f1news .news-body,
#news-container-list li {
  color: White;
}
#xpnews {
  height: 100%;
}
#xpHolder p {
  text-transform: uppercase;
}
.blueBorder {
  border: solid 2px #bedcf0;
}
img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 480px) {
  .xpNewsHeading {
    width: 100%;
    padding: 3% 0%;
  }
  #scoreIcon {
    width: 15% !important;
    float: left;
    padding: 1%;
  }
  #nextXpLevelBg p,
  #currentXpLevel p {
    font-size: .8em !important;
    padding: 9px 0px !important;
  }
  .race_win_value p,
  .poles_value p,
  .championship_value p {
    font-size: 2em !important;
    margin: auto 2px;
    top: 15px !important;
  }
  .mobile_score_holder {
    width: 78%;
  }
  /*#scoreIcon img {width:80px !important; height:80px;}*/
  
  .bigscore {
    font-size: 2.5em;
    float: left;
    width: 70%;
    padding: 0.33% 0% !important;
  }
  #right.RacenetPage {
    background-attachment: local !important;
  }
  #pointRemaining {
    height: 50px;
  }
  #text {
    position: relative;
  }
  #homeHero {
    margin-bottom: 189px;
  }
  #newsHeader h3 {
    font-size: 1.2em !important;
  }
}
@media only screen and (max-width: 768px) {
  #container {
    width: 100%;
  }
  #xpAmount {
    height: 30px;
  }
  #currentHelmets {
    width: 100%;
  }
  #nextUnlock {
    float: left;
    margin-left: 1%;
  }
  #xpBar {
    width: 49% !important;
    height: 30px;
  }
  #currentXpLevel,
  #nextXpLevelBg {
    transform: skew(-46deg);
    -webkit-transform: skew(-46deg);
    -ms-transform: skew(-46deg);
    height: 30px;
    width: 25%;
  }
  .xpNewsHeading {
    width: 100%;
    padding: 3% 0%;
  }
  /*#scoreIcon{width:10%; float:left; padding:1%;}
      #scoreIcon img {width:50px; height:80px;}*/
  
  #scoreIcon {
    width: 17%;
    float: left;
  }
  #scoreIcon img {
    width: 80px;
  }
  .bigscore {
    font-size: 2.5em;
    color: white;
    float: left;
    width: 80%;
    padding: 3.33% 0%;
  }
  #pointRemaining {
    height: 50px;
  }
  .highlight {
    width: 100%;
  }
  .mobile_score_holder {
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
  }
  .race_win_value p,
  .poles_value p,
  .championship_value p {
    font-size: 2.5em;
    margin: auto 2px;
    top: 10px;
  }
  .scoreMobile img {
    width: 75px !important;
    position: relative;
    margin-top: -8px;
  }
  #latestNews {
    left: -15px;
  }
  #latestNews p {
    left: 15px;
  }
  #currentXpLevelContainer {
    background: white;
    width: 100%;
    border: 1px solid black;
  }
  #newsHeader {
    left: -15%;
  }
  #newsHeader h3 {
    margin-left: 16%;
  }
  #currentXpLevel {
    border-radius: 0 5px 5px 0;
    left: -16px;
  }
  #nextXpLevelBg {
    border-radius: 5px 0 0 5px;
    width: 26%;
    right: -16px;
  }
  #nextXpLevelBg p {
    transform: skew(46deg);
    -webkit-transform: skew(46deg);
    -ms-transform: skew(46deg);
    margin-right: 16px;
    padding: 2px 3px;
    font-size: 1.2em;
    line-height: 0.7em;
  }
  #currentXpLevel p {
    transform: skew(46deg);
    -webkit-transform: skew(46deg);
    -ms-transform: skew(46deg);
    margin-left: 16px;
    padding: 2px 3px;
    font-size: 1.2em;
    line-height: 0.7em;
  }
  .score {
    width: 100%;
    height: 100%;
    display: none;
  }
  #scoresHolder {
    width: 86%;
    overflow: hidden;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  #car {
    top: 250px;
    margin-bottom: 20px;
  }
  /*.flexslider .slides > li{height: 350px; display: block;}*/
  
  .scoreMobile {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
  }
  #text {
    position: relative;
  }
  #scores {
    width: 100%;
    margin-top: 50px;
  }
  .scores {
    height: 100%;
  }
  #panel1,
  #panel2 {
    width: 100%;
  }
  #text {
    position: relative;
    width: 100%;
  }
  #scoresMobile {
    overflow: hidden;
  }
  #homeHero {
    margin-bottom: 89px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  #xpnews {
    height: 100%;
  }
  #container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }
  .score p {
    top: 15px !important;
  }
  #scoresHolder {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  #car {
    top: 60px;
    margin-bottom: 100px;
  }
  .score {
    width: 30.5%;
  }
  #scoresMobile {
    display: none;
  }
  #text {
    margin-bottom: 50px;
    position: relative;
    width: 100%;
  }
  #currentXpLevel p {
    margin-left: 30%;
  }
  #nextXpLevelBg p,
  #currentXpLevel p {
    font-size: 1.2em;
    padding: 9px 0px;
  }
  #newsHeader h3 {
    margin-left: 4%;
    padding: 0 5px;
  }
  #scoreIcon {
    width: 11%;
    float: left;
  }
  #scoreIcon img {
    width: 80px;
  }
  .bigscore {
    font-size: 2.5em;
    color: white;
    float: left;
    width: 24%;
    padding: 1.62% 0%;
  }
  #pointsRemaining {
    padding: 1% 0% 4% 0;
  }
  #homeHero {
    margin-bottom: 137px;
  }
  #scores {
    margin-top: 64px;
    width: 100%;
  }
  #latestNews {
    width: 25%;
  }
}
@media only screen and (min-width: 1200px) {
  #car {
    margin-top: 2px;
  }
  #xpnews {
    height: 100%;
    min-height: 200px;
  }
  #scores {
    margin-top: 64px;
    width: 100%;
  }
  #scoresHolder {
    width: 90%;
  }
  .score {
    width: 30.5%;
  }
  .score p {
    top: 21px;
  }
  #scoresMobile {
    display: none;
  }
  #text {
    position: relative;
  }
  /*#xp {margin-top: 96px;}*/
  
  #currentXpLevel p {
    margin-left: 38%;
    padding: 9px 0px;
  }
  #nextXpLevelBg p {
    padding: 9px 0px;
  }
  #newsHeader h3 {
    margin-left: 4%;
    padding: 0 5px;
  }
  #scoreIcon {
    width: 9%;
    float: left;
  }
  #scoreIcon img {
    width: 80px;
  }
  .bigscore {
    font-size: 2.5em;
    color: white;
    float: left;
    width: 25%;
    padding: 1.63% 0%;
  }
  #right.RacenetPage {
    background-position: center top;
    background-size: 1200px auto;
  }
  #homeHero {
    background-size: cover;
  }
}
body {
  background-color: #7f847d !important;
}
#right {
  box-shadow: none;
}
