.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.GasTransitionShort {
  -webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
  transition: 0.25s all;
}
.GasTransitionMedium {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.GasTransitionLong {
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}
.fadedOut {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.notFadedOut {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
#crestcreator {
  margin: 1em 0;
}
#crestcreator input {
  background-image: none;
  line-height: 1em;
  border: 0;
}
#crestcreator .ccbutton {
  background-color: #333333;
  font-family: 'EurostileNextW02-Ext';
  text-align: center;
  padding: 0 1em;
  vertical-align: middle;
  transition: all 1s;
  line-height: 31px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#crestcreator .ccbutton:hover {
  background-color: #595959;
  cursor: pointer;
}
#crestcreator .cc_scrollUp,
#crestcreator .cc_scrollDown {
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  text-indent: -99999px;
}
#crestcreator .cc_scrollUp {
  background-image: url(../../GridAutosport/forms/crest_up_arrow.png);
}
#crestcreator .cc_scrollDown {
  background-image: url(../../GridAutosport/forms/crest_down_arrow.png);
}
#crestcreator .colourpicker {
  position: absolute;
  top: 31px;
  display: none;
  z-index: 999999;
  height: 100px;
}
#crestcreator #background-panel-mobile,
#crestcreator #foreground-panel-mobile {
  display: none;
}
#crestcreator #fgcolourpicker {
  top: auto;
  bottom: 131px;
}
#crestcreator #color,
#crestcreator #fgcolor {
  width: 17px;
  height: 17px;
  color: transparent !important;
  border: 1px solid #101010;
}
#crestcreator #color {
  margin-right: 1.5em;
}
#crestcreator #fgcolor {
  margin-left: 1.5em;
}
#crestcreator #background-panel {
  margin-right: 21px;
}
#crestcreator #bgc,
#crestcreator #fgc {
  position: relative;
}
#crestcreator #crest {
  width: 100%;
  height: 380px;
}
#crestcreator #crest #crestholder {
  margin: 0 auto;
  padding: 5px;
  position: relative;
  height: 100%;
}
#crestcreator #crest #crestholder #cbg,
#crestcreator #crest #crestholder #cfg {
  position: absolute;
  width: 95%;
  height: 100%;
}
#crestcreator #crest #crestholder #cbg img,
#crestcreator #crest #crestholder #cfg img,
#crestcreator #crest #crestholder #cbg svg,
#crestcreator #crest #crestholder #cfg svg {
  width: 80%;
  height: 80%;
  margin: 1.5em auto;
  position: relative;
  top: 10px;
  display: block;
}
#crestcreator #foreground-panel {
  margin-left: 21px;
}
#crestcreator .listcontainer {
  overflow: hidden;
  height: 380px;
  padding: 0;
  margin: 0;
}
#crestcreator .listcontainer .bglist li,
#crestcreator .listcontainer .fglist li {
  display: inline-block;
  width: 25%;
  min-width: 62px;
  list-style-type: none;
  text-align: center;
}
#crestcreator .listcontainer .bglist li:hover .image_container,
#crestcreator .listcontainer .fglist li:hover .image_container {
  cursor: pointer;
  background-color: #666666;
  border-top: 1px solid white;
  border-bottom: 1px solid red;
}
#crestcreator .listcontainer .bglist li.selected .image_container,
#crestcreator .listcontainer .fglist li.selected .image_container {
  background-color: #1a1c1b;
  border-top: 1px solid #818181;
  border-bottom: 1px solid #818181;
}
#crestcreator .listcontainer .bglist li .image_container,
#crestcreator .listcontainer .fglist li .image_container {
  margin: 0.5em;
  padding: 5px;
  border: 1px solid transparent;
  background-color: #101010;
  -webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
  transition: 0.25s all;
}
#crestcreator .listcontainer .bglist li .image_container img,
#crestcreator .listcontainer .fglist li .image_container img,
#crestcreator .listcontainer .bglist li .image_container svg,
#crestcreator .listcontainer .fglist li .image_container svg {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 500px) {
  #crestcreator #background-panel,
  #crestcreator #foreground-panel {
    display: none;
  }
  #crestcreator #background-panel-mobile,
  #crestcreator #foreground-panel-mobile {
    display: block;
    float: left;
    width: 50%;
    margin-bottom: 1em;
  }
  #crestcreator .third {
    width: auto;
  }
  #crestcreator .left {
    float: none;
  }
  #crestcreator .listcontainer,
  #crestcreator #crest {
    height: 190px;
  }
  #crestcreator #crest #crestholder #cbg svg,
  #crestcreator #crest #crestholder #cfg svg {
    margin-top: 0;
  }
}
