.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.GasTransitionShort {
  -webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
  transition: 0.25s all;
}
.GasTransitionMedium {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.GasTransitionLong {
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}
.fadedOut {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.notFadedOut {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
#home_page p {
  margin: 1em 0;
  font-size: 0.9em;
  text-transform: none;
}
.flexslider {
  position: relative;
}
.flexslider li .slide-wrapper {
  position: relative;
}
.flexslider li .slide-wrapper .overlay {
  position: absolute;
  bottom: 7px;
  width: 100%;
}
.flexslider li .slide-wrapper .overlay .padding {
  padding: 0 45px;
}
.flexslider li .slide-wrapper .overlay .title,
.flexslider li .slide-wrapper .overlay .text {
  padding: 0.5em 1em;
}
.flexslider li .slide-wrapper .overlay .title {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);
}
.flexslider li .slide-wrapper .overlay .title span {
  font-family: 'EurostileNextW02-Ext';
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1em;
  color: black;
}
.flexslider li .slide-wrapper .overlay .text {
  background-color: black;
  color: white;
  font-size: 0.9em;
  line-height: 1.75em;
  text-transform: none;
}
.flexslider .flex-direction-nav a {
  margin: 0;
  top: 0;
  height: 100%;
  width: 38px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.flexslider .flex-direction-nav a.flex-prev {
  left: 0;
  background-image: url(../../GridAutosport/home/left-icon.png);
}
.flexslider .flex-direction-nav a.flex-next {
  right: 0;
  background-image: url(../../GridAutosport/home/right-icon.png);
}
.flexslider:hover .flex-prev {
  left: 0;
}
.flexslider:hover .flex-next {
  right: 0;
}
#slider {
  display: block;
}
#slider_mobile {
  display: none;
}
@media screen and (max-width: 640px) {
  .flexslider li .slide-wrapper .overlay {
    font-size: 0.9em;
  }
  .flexslider li .slide-wrapper .overlay .text {
    line-height: 1.25em;
  }
}
@media screen and (max-width: 500px) {
  .flexslider li .slide-wrapper .overlay {
    font-size: 0.8em;
  }
  #slider {
    display: none;
  }
  #slider_mobile {
    display: block;
  }
}
