.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.GasTransitionShort {
  -webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
  transition: 0.25s all;
}
.GasTransitionMedium {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.GasTransitionLong {
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}
.fadedOut {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.notFadedOut {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
#find_a_club #club_filter {
  background: transparent url(../../GridAutosport/bg_tile.png) repeat;
  border-bottom: 1px solid #8b8d8c;
  border-top: 1px solid #8b8d8c;
  padding: 0.5em;
}
#find_a_club #club_filter .pane {
  padding: 0.5em;
}
#find_a_club #club_filter .club_listing a {
  text-decoration: none;
  color: white;
}
#find_a_club #club_filter .club_listing .info .name {
  font-size: 1em;
}
#find_a_club #club_filter .club_listing .info .level,
#find_a_club #club_filter .club_listing .info .members {
  margin-right: 1em;
}
#find_a_club #club_filter #friends_tab {
  position: relative;
}
#find_a_club #club_filter #filter_tab {
  position: relative;
}
#find_a_club #club_filter #filter_tab #filter_pane input[type=text] {
  width: 100%;
  margin-bottom: 0.9em;
}
#find_a_club #club_filter #filter_tab #filter_pane .name,
#find_a_club #club_filter #filter_tab #filter_pane .select {
  display: block;
  clear: both;
}
#find_a_club #club_filter #filter_tab #filter_pane .filter:first-of-type .name {
  margin-top: 0;
}
#find_a_club #club_filter #filter_tab #filter_pane .name {
  font-family: 'EurostileNextW02-Ext';
  margin: 0.5em 0;
}
#find_a_club #club_filter #filter_tab #club_search_results {
  position: relative;
}
#find_a_club #club_filter #results_pane .label {
  display: block;
  font-family: 'EurostileNextW02-Ext';
  margin: 1.2em 0 0.5em 0;
}
#create_a_club {
  background: transparent url(../../GridAutosport/bg_tile.png) repeat;
  border-top: 1px solid #818181;
  border-bottom: 1px solid #818181;
  padding: 1em;
}
#what_are_clubs p {
  color: #bebfbf;
  font-size: 0.9em;
  margin: 1em 0;
  text-transform: none;
  text-align: justify;
}
#what_are_clubs p:first-of-type {
  margin-top: 0;
}
#what_are_clubs .intro_images .image {
  float: left;
  width: 50%;
}
#what_are_clubs .intro_images .image.second {
  text-align: right;
}
#what_are_clubs .intro_images .image img {
  width: 97%;
  height: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  border-top: 1px solid #818181;
  border-bottom: 1px solid #818181;
}
#what_are_clubs .image_panel {
  position: relative;
  border-top: 1px solid #818181;
  border-bottom: 1px solid #818181;
  height: 211px;
  background: #0e1719 url(../../GridAutosport/join/textboxBG.jpg) no-repeat top left;
}
#what_are_clubs .image_panel p {
  margin: 2em 2em 2em 345px;
  color: #949899;
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: justify;
}
@media screen and (max-width: 980px) {
  #page_content_main h2:first-of-type {
    margin-top: 1em;
  }
  #what_are_clubs .image_panel {
    background-image: none;
    height: auto;
  }
  #what_are_clubs .image_panel p {
    margin-left: 2em;
  }
}
@media screen and (max-width: 650px) {
  #page_content_main h2:first-of-type {
    margin-top: 1em;
  }
  #what_are_clubs .intro_images .image {
    float: none;
    width: auto;
  }
  #what_are_clubs .intro_images .first img {
    margin: 0;
  }
  #what_are_clubs .intro_images .second {
    display: none;
  }
}
