.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.GasTransitionShort {
  -webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
  transition: 0.25s all;
}
.GasTransitionMedium {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.GasTransitionLong {
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}
.fadedOut {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.notFadedOut {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 14px;
  letter-spacing: 0.15em;
}
.clear {
  clear: both;
}
#modal {
  position: relative;
  background-color: black;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
}
#modal #close {
  float: right;
  margin-bottom: 0.5em;
}
#modal h1 {
  margin-top: 0;
  margin-bottom: 12px;
  border-bottom: 1px solid #818181;
  padding-bottom: 0.4em;
  font-size: 1.3em;
}
#modal h1,
#modal h2,
#modal h3 {
  font-weight: normal;
}
